.play-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #53b85f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-main {
    display: flex;
    width: 100%;
    height: 25vh;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
    background-color: #B8B8B8;
    padding-bottom: 1vh;
}
.song-main > div {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.song-main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.song-main > div > p {
    margin-bottom: 0px;
}
.italic {
    font-style: italic;
}

@media(max-width: 1050px){
    .song-main {
        height: 40vh;
    }
    .song-main > div {
        justify-content: center;
    }
}
@media(max-width: 650px){
    .song-main {
        height: 50vh;
        min-height: 250px;
    }
}
@media(max-width: 500px){
    .song-main {
        height: 30vh;
        min-height: 250px;
    }
    .song-main > div {
        width: 95%; 
        justify-content: flex-start;
        margin-top: 75px;
    }
    .song-main > div > p {
        text-align: center;
    }
}