.home-main {
    height: 240vh;
}
.home-title {
    font-size: 70px;
}
.home-sub {
    font-size: 30px;
    margin-top: 5px;
}
.difference-main {
    display: flex;
    width: 100%;
    margin: 0px auto;
    height: 20vh;
}
.difference-left {
    width: 40%;
    background-color:#303030;
    color: white;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.difference-left > h2 {
    margin-top: 2vh;
}
.difference-right {
    width: 60%;
    font-size: 25px;
    height: 100%;
    background-color: #F5F5F5;
    padding-left: 30px;
}
.difference-right > p {
    font-size: 25px;
}
.banner-title {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.albums-main {
    display: flex;
    width: 100%;
    height: 38vh;
}
.albums-left {
    width: 70%;
    background-color: #F5F5F5;
    font-size: 40px;
    height: 38vh;
    padding-top: 2vh;
}
.albums-right {
    width: 30%;
    background-color:#888888;
    font-size: 40px;
    height: 38vh;
    padding-top: 2vh;
}
.bandcamp-logo {
    width: 40%;
}
.albums-main h2 {
    margin-bottom: 30px;
}