.home-main {
    height: 220vh;
}
.home-title {
    font-size: 70px;
}
.home-sub {
    font-size: 30px;
    margin-top: 5px;
}
.difference-main {
    display: flex;
    width: 100%;
    margin: 0px auto;
    height: 30vh;
}
.difference-left {
    width: 40%;
    background-color:#888888;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.difference-right {
    width: 60%;
    font-size: 25px;
    height: 100%;
    background-color: #F5F5F5;
    padding-left: 30px;
}
.banner-title {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.albums-main {
    display: flex;
    width: 100%;
    height: 20vh;
}
.albums-left {
    width: 60%;
    background-color: #F5F5F5;
    font-size: 40px;
}
.albums-right {
    width: 40%;
    background-color:#888888;
    font-size: 40px;
}