.home-main {
    height: 273vh;
}
.home-title {
    font-size: 60px;
}
.home-sub {
    font-size: 30px;
    margin-top: 5px;
}
.difference-main {
    display: flex;
    width: 100%;
    margin: 0px auto;
    height: 20vh;
    margin-top: 3vh;
}
.difference-left {
    width: 40%;
    background-color:#B8B8B8;
    height: 100%;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.difference-left > h2 {
    /* margin-top: 2vh; */
}
.difference-right {
    width: 60%;
    font-size: 25px;
    height: 100%;
    background-color: #B8B8B8;
    display: flex;
    align-items: center;
}
.difference-right > p {
    font-family: 'Overpass', sans-serif;
    font-size: 18px;
    padding-left: 30px;
    margin-top: 10px;
    border-left: 2px solid black;
}
.albums-main {
    display: flex;
    width: 100%;
    height: 42vh;
    margin-top: 8vh;
}
.albums-left {
    width: 70%;
    background-color: #F5F5F5;
    font-size: 40px;
    height: 42vh;
    padding-top: 2vh;
}
.albums-right {
    width: 30%;
    background-color:#888888;
    font-size: 40px;
    height: 42vh;
    padding-top: 2vh;
}
.bandcamp-logo {
    width: 40%;
}
.albums-main h2 {
    margin-bottom: 10vh;
    font-family: 'Overpass Mono', monospace;
}
@media(max-width: 1100px){
    .home-main {
        height: 300vh;
    }
}
@media(max-width: 1001px){
    .home-main {
        margin-top: 10vh;
    }
}

@media(max-width: 500px){
    .home-main {
        height: 410vh;
        margin-top: 0;
        min-height: 2200px;
    }
    .difference-main {
        height: 50vh;
        flex-direction: column;
        margin-top: 5vh;
    }
    .difference-left{
        width: 100%;
        margin-bottom: 0;
    }
    .difference-right{
        width: 100%;
        margin-top: 0;
    }
    .difference-right > p {
        border: none;
        padding-left: 0;
        width: 95%;
        margin: 0px auto;
    }
    .albums-main {
        flex-direction: column;
        height: 120vh;
    }
    .albums-left {
        width: 100%;
        height: 100vh;
    }
    .albums-right {
        width: 100%;
    }
    .top-row {
        display: flex;
        flex-direction: column;
        height: 30vh;
    }
    .bottom-row {
        display: flex;
        flex-direction: column;
        height: 30vh;
        margin-top: 50px;
        width: 100%;
        align-items: center;
    }
    .bottom-row > a {
        margin: 0px auto;
    }
    .top-row > a, .bottom-row > a {
        margin-bottom: 25px;
    }
    .banner-stream-icons-lower{
        height: 50vh;
    }
}