.sidebar-main {
    height: 90vh;
    width: 70%;
    position: fixed;
    top: 10vh;
    z-index: 10;
    background-color: white;
    overflow: hidden;
    left: 0;
    transition: .3s;
}

.close-side  {
    left: -71%;
    transition: .3s;
}

.sidebar-content {
    text-align: left;
    margin-top: 30px;
}
.sidebar-content li {
    padding-left: 25px;
    margin-top: 15px;
    font-size: 30px;
}
.stream {
    padding-left: 30px;
    /* display: none; */
    height: 0px;
    transition: .2s;
    overflow: hidden;
}
.stream-showing {
    display: block;
    height: 36vh;
    transition: .2s;
}