#nav-logo {
    width: 65px;
    height: auto;
}
.nav-main {
    height: 7vh;
    padding-top: 10px;
    font-family: 'Overpass Mono', monospace;
}
.nav-content {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
.nav-content ul {
    display: flex;
}
.nav-content li {
    font-size: 20px;
}
.nav-content li:hover {
    color: #dfb14b;
}
.nav-content li a:hover {
    color: #dfb14b;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
.nav-left, .nav-right{
    padding-left: 0px;
    display: flex;
    width: 37%;
    justify-content: space-between;
    position: relative;
}
.showing {
    height: 100px;
    width: 100px;
    background-color: purple;
}
.hidden {
    display: none;
}
.streaming {
    height: 170px;
    width: 150px;
    background-color: rgba(255,255,255,.8);
    z-index: 2;
    position: absolute;
    right: -30px;
    top: 23px;
    padding-top: 15px;
    padding-bottom: 10px;

}
.streaming > ul {
    display: flex;
    flex-direction: column;
}
.streaming > ul > li {
    line-height: 1.75em;
}
@media(max-width: 1000px){

    .nav-main {
        display: none;
    }
}