.banner-main{
    margin: 0px auto;
    margin-top: 10px;
    width: 100%;
    height: 73vh;
}
.banner-content {
    width: 100%;
    margin: 0px auto;
    display: flex;
    height: 100%;
}
.banner-stream-icons {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.top-row {
    margin-top: 20px;
}
.top-row, .bottom-row {
    display: flex;
    justify-content: space-around;
    height: 80px;
}
.bottom-row {
    width: 70%;
    margin: 0px auto;
}
.top-row > a > img{
    width: 70%;
}
.bottom-row > a > img{
    width: 50%;
}
.banner-left {
    width: 40%;
    background-color: #303030;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.stream-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.banner-buy {
    width: 100%;
    height: calc(30% + 2px);
    background-color: #B8B8B8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-buy:hover {
    background-color: #303030;
    color: white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    height: 30%;
    width: calc(100% - 2px);
}
.banner-buy:hover a {
    color: white;
}
.banner-top-back {
    background-color: #303030;
    height: 50%;
    width: 100%;
}
.banner-stream {
    width: 100%;
    height: 70%;
    background-color: #D0D0D0;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-stream:hover {
    background-color: #303030;
    color: white;
    width: calc( 100% - 2px);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}
.skew-bottom {
    position: absolute;
    left: 10%;
    top: 8vh;
}
.skew-top {
    position: absolute;
    right: 12%;
    top: -15vh;
}
.banner-right {
    width: 60%;
}
.banner-title {
    font-size: 60px;
}
.banner-icons {
    display: flex;
    justify-content: space-between;
}
#one {
    width: 100%;
    height: 73vh;
    background-color: 	#303030;
    background-image: url('https://f4.bcbits.com/img/a2606312365_10.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#two {
    width: 100%;
    height: 73vh;
    background-color: 	#303030;
    background-image: url('https://f4.bcbits.com/img/a2285530605_10.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#three {
    width: 100%;
    height: 73vh;
    background-color: 	#303030;
    background-image: url('https://f4.bcbits.com/img/a3777569265_10.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#four {
    width: 100%;
    height: 73vh;
    background-color: 	#303030;
    background-image: url('https://f4.bcbits.com/img/a1170039747_10.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#five {
    width: 100%;
    height: 73vh;
    background-color: 	#303030;
    background-image: url('https://f4.bcbits.com/img/a1048958061_10.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media(max-width: 500px){
    .banner-left{
        display: none;
    }
    .banner-right {
        width: 100%;
        margin-top: 10vh;
    }
    #one, #two, #three, #four, #five {
        height: 58vh;
    }
    .banner-title {
        height: 500vh;
    }
}